<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
      <!-- Title area strat -->
    <link rel="shortcut icon" href="/images/dropme-icon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Dropme API </title>
</head>
<body>

    {{{body}}}

</body>
</html>